<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Starboard</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.0/marked.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10.3/ICanHaz.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>
    <script src="scripts/loglevel.min.js"></script>
    <script src="scripts/chosen.jquery.min.js"></script>
    <script src="scripts/TreeModel.min.js"></script>
    <script src="scripts/marked.js"></script>
    <script src="https://api.trello.com/1/client.js?key=<%= ENV["TRELLO_KEY"] %>"></script>

    <%= javascript_tag 'app' %>
    <%= stylesheet_tag 'screen' %>
</head>

<body data-organization="<%= organization %>" data-token="<%= token %>">
    <header>
    <img src="../img/logo.svg" alt="Logo">
    <h1>Starboard</h1>
    <h2>People come, people go.</h2>
    </header>
    <section class="controls">
    </section>
    <section class="loading">
      <img src="../img/spinner.gif" alt="">
    </section>
</body>


<script id="controls" type="text/html">
<form action="">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" required="required">
    </p>
    <p>
        <label for="boarding-type">Recruiting Source:</label>
        <select data-placeholder="Choose a boarding type" name="boarding-type" id="boarding-type" required="required">
            <option value="onboarding">Onboarding</option>
            <option value="offboarding">Offboarding</optioff>
            <option value="crossboarding">Crossboarding</option>
        </select>
    </p>
    <p>
        <label id="date-label" for="date">Date:</label>
        <input type="date" id="date" required="required">
    </p>
    <p>
        <label for="team-name">Team:</label>
        <select data-placeholder="Choose a Team" name="team" id="team-name" required="required">
            <option value=""></option>
            {{#teams}}
                <option value="{{slug}}">{{name}}</option>
            {{/teams}}
        </select>
    </p>
    <p>
        <input class="button" type="submit" value="Create Trello Board">
        <div class="working hidden">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <progress></progress>
            <p>Creating board</p>
        </div>
    </p>
</form>
</script>
</html>
